body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    text-align: left;
    margin-top: 10px;
}

input[type="text"], input[type="float"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    font-size: 14px;
    color: #333;
    box-sizing: border-box; /* Para garantir que padding não afete a largura total */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #45a049;
}

/* Estilos para a formatação responsiva */
@media (max-width: 400px) {
    form {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    input[type="text"], input[type="float"], button {
        font-size: 14px;
    }
}